body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 23px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    margin-top: 31px;
    margin-bottom: 41px;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 47px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 25px;
}

.header__link {
    color: #000;
}

.header__point {
    display: block;
    margin-right: 66px;
    margin-top: -5px;
    color: #299D90;
    font-size: 25px;
}

.header__btn {
    color: #299D90;
    border: 2px solid #B4E8E2;
    border-radius: 10px;
    padding: 11px 20px 13px;
    margin-right: 25px;
    cursor: pointer;
    background-color: transparent;
}

.header__ellipse {
    margin-right: 25px;
}

.header__ellipse:last-child {
    margin-right: 0;
}

.header__inner {
    background-image: url("../img/bg.jpg");
    max-width: 1260px;
    height: 708px;
    padding: 19px 50px 19px 20px;
    display: flex;
    justify-content: space-between;
}

.header__box1 {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.header__box2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.header__span {
    background-color: #F01161;
    border-radius: 10px;
    color: #fff;
    margin-right: 20px;
    font-weight: 600;
    padding: 11px 20px 14px;
}

.header__box-btn {
    color: #FFD600;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    border: none;
}

.header__left-link {
    background: #22C3B1;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
    padding: 13px 25px 17px;
    display: block;
    font-size: 24px;
    text-align: center;
}

.header__left-link2 {
    background-color: rgba(24, 25, 25, 0.2);
    border: 2px solid #FFFFFF;
    color: #fff;
    padding: 13px 25px 17px;
    border-radius: 10px;
    margin-bottom: 132px;
    display: block;
    font-size: 24px;
    text-align: center;
}

.header__left-img {
    border-radius: 10px;
}

.header__right-span {
    color: #fff;
    margin-top: 10px;
}

.header__el {
    margin-bottom: 352px;
}

.header__right-box {
    margin-bottom: 25px;
}

.header__right-box:last-child {
    margin-bottom: 0;
}

.header__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
    max-width: 1250px;
}

.header__footer-inner {
    display: flex;
}

.header__footer-img {
    margin-right: 20px;
}

.header__footer-box {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header__footer-box:last-child {
    margin-right: 0;
}

.sec1 {
    margin-bottom: 60px;
}

.sec1__h1 {
    line-height: 120%;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sec1__list {
    display: flex;
}

.sec1__item {
    margin-right: 30px;
}

.sec1__item:last-child {
    margin-right: 0;
}

.sec1__item2 {
    margin-left: 70px;
    margin-right: 30px;
    color: #F01161;
}

.sec1__item3 {
    color: #616467;
}

.sec1__link {
    font-weight: 500;
    color: #299D90;
}

.sec1__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    align-items: center;
    margin-top: 40px;
}

.sec1__menu-l {
    display: flex;
}

.sec1__menu-l:last-child {
    margin-right: 0;
}

.sec1__btn {
    font-weight: 500;
    font-size: 30px;
    margin-right: 45px;
    color: #9DA1A6;
}

.sec1__btn-open {
    color: #18191A;
    padding-bottom: 10px;
    border-bottom: 5px solid #22C3B1;
}

.sec1__r {
    display: flex;
}

.sec1__el {
    margin-right: 25px;
}

.sec1__el:last-child {
    margin-right: 0;
}

.sec1__box {
    position: relative;
}

.sec1__text {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 13px;
}

.sec1__btn2 {
    color: #299D90;
    font-size: 16px;
    line-height: 130%;
    border: 2px solid #B4E8E2;
    border-radius: 10px;
    padding: 11px 20px 13px;
    background-color: transparent;
    position: absolute;
    right: 0;
}

.sec1__h6 {
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 30px;
}

.sec1__list2 {
    display: flex;
}

.sec1__l2-item {
    margin-right: 35px;
    font-size: 24px;
    color: #404244;
}

.sec1__l2-item:last-child {
    margin-right: 0;
}

.sec2 {
    border-bottom: 1px solid #E6EAEE;
}

.sec2__disflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.sec2__h2 {
    font-weight: 500;
    font-size: 60px;
    line-height: 120%;
}

.sec2__arrows {
    display: flex;
}

.sec2__left {
    margin-right: 20px;
}

.sec2__inner {
    display: flex;
    margin-bottom: 20px;
}

.sec2__box {
    margin-right: 20px;
}

.sec2__box:last-child {
    margin-right: 0;
}

.sec2__img {
    border-radius: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 423px;
    z-index: -1;
}

.sec2__span {
    display: block;
}

.sec2__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 15px;
    max-width: 275px;
}

.sec2__sup {
    line-height: 130%;
    color: #616467;
    margin-bottom: 15px;
}

.sec2__link {
    color: #22C3B1;
    text-transform: uppercase;
    font-weight: 600;
}

.sec2__box2 {
    display: flex;
    align-items: center;
}

.sec2__discount {
    margin-right: 15px;
    line-height: 130%;
    font-weight: 600;
    padding: 11px 20px 13px;
    background-color: transparent;
    border-radius: 10px;
    color: #F01161;
    border: 2px solid #FFBBD3;
}

.sec2__discount:hover {
    background-color: #F01161;
    color: #fff;
    border: 2px solid transparent;
}

.sec2__absol {
    position: relative;
}

.sec2__discount2 {
    position: absolute;
    line-height: 130%;
    font-weight: 600;
    padding: 11px 20px 13px;
    background-color: #F01161;
    border-radius: 10px;
    color: #fff;
    bottom: 20px;
    left: 20px;
}

.footer {
    margin-top: 60px;
    margin-bottom: 70px;
}

.footer__inner {
    display: flex;
}

.footer__h6 {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}

.footer__box {
    margin-right: 130px;
}

.footer__item {
    margin-bottom: 25px;
}

.footer__item-link {
    color: #404244;
}

.footer__item-link2 {
    color: #616467;
}

.footer__item-link2 span {
    display: block;
    max-width: 182px;
}

.footer__item-bl {
    color: #22C3B1;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}

@media (max-width: 1024px) {
    .header__top {
        margin-top: 31px;
        margin-bottom: 41px;
        display: block;
    }

    .header__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 0;
    }
    
    .header__menu {
        display: block;
    }

    .header__list {
        display: flex;
        justify-content: center;
    }

    .header__box2 {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .header__point {
        margin-right: 0;
    }

    .header__item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 912px) {
    .header__link {
        font-size: 20px;
    }

    .header__btn {
        font-size: 25px;
    }

    .sec1__r {
        display: none;
    }

    .footer__inner {
        display: block;
    }
}

@media (max-width: 820px) {
    .header__list {
        flex-wrap: wrap;
    }

    .header__link {
        font-size: 30px;
    }
}

@media (max-width: 540px) {
    .sec1__list {
        display: block;
    }

    .sec1__item {
        margin-bottom: 20px;
    }

    .sec1__link {
        font-size: 25px;
    }

    .sec1__h6 {
        margin-top: 90px;
    }

    .sec2__disflex {
        display: block;
    }

    .sec2__inner {
        display: block;
    }

    .sec2__box {
        margin-right: 0; 
        margin-bottom: 20px;
    }

    .sec1__menu-l {
        flex-wrap: wrap;
    }

    .sec1__btn {
        margin-bottom: 35px;
    }

    .sec1__list2 {
        flex-wrap: wrap;
    }

    .header__link {
        margin-bottom: 30px;
        display: block;
    }

    .header__footer {
        flex-wrap: wrap;
    }

    .footer__item-link {
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    .sec2__h2 {
        font-size: 30px;
    }

    .sec2__img {
        width: 340px;
    }
}